.site-footer {
  border-top: 1px solid var(--border-color);
  padding: 16px 0;
  background-color: var(--bg-color);
  position: relative;
  z-index: 10;
  font-size: 14px;
}

.footer-content {
  color: var(--text-dark);
}

.dot-divider {
  color: var(--text-dark);
}

.hover-underline:hover {
  text-decoration: underline;
}

.footer-left a {
  color: var(--text-dark);
}

@media (max-width: 744px) {
  .footer-content {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}
